<span style='color: #000' title='Frames'>   250</span><span style='color: #009' title='Memory'>  20736.00 KB</span><span style='color: #900' title='Time'>    629.99 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />