<style>

    @font-face{
      font-family:GothamNarrow;
      src: 	url('../../fonts/GothamNarrow-Book.woff2') format('woff2'),
       		url('../../fonts/GothamNarrow-Book.woff') format('woff'),
      		url('../../fonts/GothamNarrow-Book.otf');
    }

    @font-face{
      font-family: 'GothamNarrowMedium';
      src: 	url('../../fonts/GothamNarrow-Medium.woff2') format('woff2'),
       		url('../../fonts/GothamNarrow-Medium.woff') format('woff'),
      		url('../../fonts/GothamNarrow-Medium.otf');
    }

    @font-face{
        font-family: headerFont;
        src: url('../../fonts/Belizio.woff2') format('woff2'),
          url('../../fonts/Belizio.woff') format('woff'),
          url('../../fonts/Belizio.otf');        
    }

</style>